@import "null";
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
@mixin button($lw, $ptb, $plr) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $lw solid #FFFFFF;
  box-sizing: border-box;
  padding: $ptb $plr;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background-color: transparent;
  &:hover {
    background: #00897B;
    border: 4px solid #00897B;
  }
}

body {
  background-color: red;
}

.site-wrapper {
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background: #FFFFFF;
  .header__container {
    width: 85.625%;
    // max-height: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px auto;
    @media (max-width: 1215px) {
      width: 90%;
      @media (max-width: 1156px) {
        width: 95%;
        @media (max-width: 1095px) {
          width: 100%;
          margin: 22px 15px;
          @media (max-width: 708px) {
            margin: 16px 15px;
            @media (max-width: 469px) {
              margin: 10px 20px 15px 15px;
              align-items: flex-start;
            }
          }
        }
        // .menu__list {
        //   flex-wrap: wrap;
        //   .menu__item {
        //     padding-left: 20px !important;
        //   }
        // }
        //   @media (max-width: 438px) {
        //     width: 100%;
        //     margin-top: 0px;
        //     .menu__list {
        //       justify-content: center;
        //     }
        //   }
      }
    }
    .header__logo {
      display: flex;
      align-items: center;
      .header__logo-img img {
        @media (max-width: 901px) {
          width: 70px;
          @media (max-width: 756px) {
            width: 60px;
            @media (max-width: 746px) {
              width: 55px;
            }
          }
        }
      }
      .header__title {
        width: min-content;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: #000000;
        @media (max-width: 923px) {
          font-size: 13px;
          line-height: 18px;
          @media (max-width: 833px) {
            font-size: 10px;
            line-height: 14px;
          }
        }
      }
    }
    .header__menu {
      height: 100%;
      display: flex;
      background-color: #FFFFFF;
      @media (max-width: 469px) {
        &.responsive {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        &.responsive .menu__list {
          display: block;
          flex-wrap: nowrap;
          flex-direction: column;
          text-align: right;
          background-color: #FFFFFF;
          margin-right: 20px;
        }
        &.responsive .menu__list li a {
          text-align: right;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 44px;
          text-align: right;
          letter-spacing: 0.1em;
          color: #000000;
        }
        & &.responsive .btn-open {
          margin-bottom: 23.82px;
        }
      }
      &.responsive .header__menu-button {
        margin-bottom: 23.82px;
      }
      .menu__list {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        // align-items: space-between;
        background: #FFFFFF;
        @media (max-width: 1095px) {
          justify-content: center;
          // @media (max-width: 470px) {
          //   flex-direction: column;
          // }
          @media (max-width: 469px) {
            display: none;
            flex-direction: column;
          }
        }
        .menu__item {
          margin-left: 41px;
          margin-top: 6px;
          margin-bottom: 6px;
          background: #FFFFFF;
          @media (max-width: 1070px) {
            margin-left: 30px;
            @media (max-width: 993px) {
              margin-left: 20px;
              @media (max-width: 741px) {
                margin-left: 15px;
              }
            }
          }
          a {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: #000000;
            @media (max-width: 888px) {
              font-size: 18px;
              line-height: 20px;
              @media (max-width: 811px) {
                font-size: 16px;
                line-height: 18px;
              }
            }
            // &:hover {
            //   color: $color_yellow-hover;
            //   text-shadow: 0 0 20px white;
            // }
          }
        }
      }
      .header__menu-button {
        display: none;
        margin-top: 22px;
      }
      @media (max-width: 469px) {
        .btn-open {
          display: block;
        }
        .btn-close {
          display: none;
        }
      }
    }
  }
}

.slide {
  margin-top: 119px;
  background-image: url(../img/content-top-fon.png);
  background-position: top center;
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: 100%;
  @media (max-width: 901px) {
    margin-top: 107.25px;
    @media (max-width: 756px) {
      margin-top: 98px;
      @media (max-width: 746px) {
        margin-top: 80px;
        @media (max-width: 469px) {
          margin-top: 74px;
        }
      }
    }
  }
  .slide__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .slide__title {
      margin-left: 15px;
      margin-right: 15px;
      // margin-top: 194px;
      // margin-top: 12.125%;
      margin-top: (194/1600*100%);
      // margin-bottom: 35px;
      margin-bottom: (35/1600*100%);
      font-style: normal;
      font-weight: 600;
      font-size: 70px;
      line-height: 70px;
      // line-height: (70/1600*100%);
      letter-spacing: 0.1em;
      color: #FFFFFF;
      text-align: center;
      @media (max-width: 1409px) {
        margin-top: (100/1600*100%);
        @media (max-width: 1062px) {
          font-size: 50px;
          line-height: 50px;
          @media (max-width: 767px) {
            font-size: 40px;
            line-height: 40px;
          }
        }
      }
    }
    .slide__text {
      // margin-bottom: 127px;
      margin-bottom: (127/1600*100%);
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 30px;
      // line-height: (30/1600*100%);
      letter-spacing: 0.1em;
      color: #FFFFFF;
      text-align: center;
      @media (max-width: 1062px) {
        font-size: 20px;
        line-height: 20px;
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
    .slide__buttons {
      display: flex;
      align-items: center;
      // margin-bottom: 114px;
      margin-bottom: (114/1600*100%);
       :first-child {
        margin-right: 38px;
      }
      .slide__services-button {
        @include button(4px, 22px, 22px);
      }
      .slide__hire-button {
        @include button(4px, 22px, 34px);
      }
      .slide__button {
        @media (max-width: 767px) {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.1em;
          color: #FFFFFF;
          border: 3px solid #FFFFFF;
        }
      }
      @media (max-width: 1032px) {
        margin-bottom: (50/1600*100%);
        @media (max-width: 1032px) {
          margin-bottom: 15px;
        }
      }
    }
    .slider__arrow {
      height: (22/1600*100%);
      // margin-bottom: 77px;
      // margin-bottom: (77/1600*100%);
      margin-bottom: (50/1600*100%);
      @media (max-width: 1032px) {
        display: none;
      }
    }
  }
}

.contact {
  background: #222321;
  .contact__container {
    width: 75%;
    margin: 0 auto;
    padding-top: 115px;
    padding-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact__title {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      /* identical to box height */
      letter-spacing: 0.1em;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    .contact__text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      /* or 133% */
      text-align: center;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      margin-bottom: 115px;
    }
    .contact__group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 115px;
      .contact__group-item {
        max-width: 308px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact__icon {
          width: 110px;
          height: 110px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px;
          background: #3949AB;
          border-radius: 110px;
          img {
            // display: block;
            // margin: 0 auto;
          }
        }
        p {
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
          /* or 136% */
          text-align: center;
          letter-spacing: 0.1em;
          color: #FFFFFF;
        }
      }
    }
    .contact__form {
      width: 100%;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      .contact__forms {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        .contact__form-left {
          width: 47.5%;
          display: flex;
          flex-direction: column;
          &>*:not(:last-child) {
            margin-bottom: 40px;
          }
        }
        .contact__form-right {
          width: 47.5%;
          // justify-content: stretch;
        }
        .contact__form-input {
          background: #FFFFFF;
          border-radius: 20px;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          /* identical to box height, or 140% */
          text-align: left;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #000000;
          padding-top: 36px;
          padding-left: 30px;
          padding-bottom: 36px;
        }
        .contact__text-area {
          width: 100%;
          height: 100%;
        }
      }
      .contact__form-button {
        align-self: center;
        background: #3949AB;
        border-radius: 20px;
        padding: 36px 161px;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 28px;
        /* identical to box height, or 108% */
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}

.footer {
  background: #FFFFFF;
  .footer__container {
    width: 85.625%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 60px;
    .footer__menu {
      align-self: center;
      .menu__list {
        display: flex;
        .menu__item {
          margin-right: 40px;
          a {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 22px;
            /* identical to box height, or 110% */
            letter-spacing: 0.1em;
            color: #000000;
            white-space: nowrap;
          }
        }
      }
    }
    .footer__site-sign {
      display: flex;
      flex-direction: column;
      .footer__text-copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        /* identical to box height, or 156% */
        display: flex;
        align-items: center;
        letter-spacing: 0.0025em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 8px;
      }
      .footer__socials {
        align-self: flex-end;
        .footer__link-twitter {
          margin-left: 13.33px;
        }
        .footer__link-fb {
          margin-left: 30px;
        }
      }
    }
  }
}

// @include button(3px, $color_turquoise, 15px, 27px);